header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  padding: 3rem 0 3.8rem 0;
  background-color: var(--gray-700);
  color: var(--blue);
  gap: 0.75rem;
}

header span {
  font-weight: 900;
  font-size: 40px;
}

.do {
  color: var(--purple-dark);
}
